<%-include("../layoutsAdmin/header.ejs")%>
    <main class="main-wrap">
    <form action="/admin/dashboard/products/edit/<%= product._id %>" method="POST"  id="myForm">
         <section class="content-main">
        
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <!-- <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div> -->
                                <div class="col-md-9">

                                    <div class="mb-4">
                                        <label class="form-label">Product</label>
                                        <input type="text"  class="form-control" name="name" value="<%=product.name%>" id="name" >
                                    
                                        
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label">Brand</label>
                                        <input type="text"  class="form-control" name="description" value="<%=product.description%>" id="description" >
                                        <span id="descriptionError"></span>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Gender</label>
                                        <input type="text"  class="form-control" name="gender" value="<%=product.gender%>" id="gender" >
                                        
                                    </div>

                                  <div class="mb-4">
                                        <label class="form-label">Category</label>
                                           <select class="form-select" name="category">
                                            <% category.forEach(function(category) { %>
                                            <option value="<%=category.name%>"><%= category.name %>
                                            </option>
                                            <% }); %>
                                        </select>
                                  </div>

                             </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <!-- <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div> -->
                                <div class="col-md-9">

                                    <div class="mb-4">
                                        <label class="form-label">Price</label>
                                        <input type="number" placeholder="00.0" value="<%=product.price%>"class="form-control" name="price" id="price" >
                                        <span id="priceError"></span>
                                    </div>

                                    <div class="mb-4">
                                      <label class="form-label">Quantity</label>  
                                      <input type="number" placeholder="0" value="<%=product.stock%>"class="form-control" name="stock" id="stock">
                                      <span id="stockError"></span>
                                  </div>

                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            
                            <hr class="mb-4 mt-0">
                           

                            <div class="col-lg-6">
                                <div class="card mb-4">
                                  <div class="card-header">
                                    <h4>Media</h4>
                                  </div>
                                  <div class="input-upload">
                                    <div class="input-upload">
                                      <input class="form-control" id="input1" name="image"value="<%=product.images %>" multiple type="file">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
            </div>
            </div>
            <div>
              <button class="btn btn-md rounded font-sm hover-up" value="submit" type="submit">Update</button>
          </div>
        </form>
     <p><%=(typeof message!=='undefined')?message:""%></p> 
     
        </section> <!-- content-main end// -->
       </main>



   
    <script src="../admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../admin-assets/js/vendors/select2.min.js"></script>
    <script src="../admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="../admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="../admin-assets/js/main.js" type="text/javascript"></script>
   
    
<%-include("../layoutsAdmin/footer.ejs")%>